<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <!--<filter>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<filter-class>ru.job4j.servlets.AuthFilter</filter-class>-->
    <!--</filter>-->
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserCreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserUpdateServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserDeleteServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DataErrorServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.DataErrorServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ExistServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.ExistServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Signing</servlet-name>
        <servlet-class>ru.job4j.servlets.SigningServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ru.job4j.servlets.Logout</servlet-class>
        <load-on-startup>8</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JsonController</servlet-name>
        <servlet-class>ru.job4j.servlets.JsonController</servlet-class>
        <load-on-startup>9</load-on-startup>
    </servlet>
    <!--<filter-mapping>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataErrorServlet</servlet-name>
        <url-pattern>/dataerror</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistServlet</servlet-name>
        <url-pattern>/exist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signing</servlet-name>
        <url-pattern>/signing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonController</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
</web-app>
